html {
  background-image: url("assets/your-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 0.8em;
}

.nav-gradient {
  background: linear-gradient(to bottom, rgba(122, 122, 122, 1) 0%, rgba(122, 122, 122, 1) 50%, rgba(77, 77, 77, 1) 51%, rgba(80, 80, 80, 1) 60%, rgba(77, 77, 77, 0.8) 100%);
  display: inline;
  text-decoration: none;
}

.nav-button:hover {
  color: #595959;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  flex-grow: 1;
}

.navbar {
  display: grid;
  width: 960px;
  grid-template-columns: repeat(8, 1fr) 130px;
  grid-template-rows: 36px;
  justify-items: stretch;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.navbar div {
  position: relative;
}

.navbar > a > span {
  margin-left: 35px;
}

.tou > a {
  display: inline;
  text-decoration: none;
  color: #08c;
}

.privacy > a {
  text-decoration: none;
  color: #08c;
}

.right-footer-container > a {
  text-decoration: none;
  color: #08c;
}

.left-footer > p > a {
  text-decoration: none;
  color: #08c;
}

.navbar > a:hover {
  background: linear-gradient(to bottom, rgba(66, 66, 66, 1) 0%, rgba(66, 66, 66, 1) 50%, rgba(55, 55, 55, 1) 51%, rgba(60, 60, 60, 1) 60%, rgba(55, 55, 55, 0.8) 100%);
}

.navbar > div:hover {
  background: linear-gradient(to bottom, rgba(66, 66, 66, 1) 0%, rgba(66, 66, 66, 1) 50%, rgba(55, 55, 55, 1) 51%, rgba(60, 60, 60, 1) 60%, rgba(55, 55, 55, 0.8) 100%);
}

.search-icon {
  position: absolute;
  margin-top: 12px;
  margin-left: 15px;
}

.search-box {
  width: 80%;
  margin-top: 7px;
  border-radius: 10px;
  margin-left: 10px;
  background: linear-gradient(to bottom, rgba(122, 122, 122, 1) 0%, rgba(122, 122, 122, 1) 50%, rgba(77, 77, 77, 1) 51%, rgba(80, 80, 80, 1) 60%, rgba(77, 77, 77, 0.8) 100%);
}

.search-box:focus {
  outline: none;
}

.navbar a span {
  text-align: center;
  line-height: 36px;
  color: white;
}

.apple-logo {
  margin-top: 4px;
  margin-left: 40px;
}

.text-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Raleway';
  font-weight: 100;
  flex-grow: 4;

}

.verse-be {
  font-weight: lighter;
  color: white;
  font-size: 58px;
}

.second-p {
  padding: 0;
  font-weight: lighter;
  color: white;
  font-size: 28px;
}

.third-p {
  font-weight: lighter;
  font-size: 22px;
  margin-top: -15px;
}

.third-p > a {
  color: white;
  text-decoration: none;
}

.third-p > a:hover {
  text-decoration: underline;
}

.play-icon {
  color: white;
}

.image-footer {
  display: flex;
  align-content: space-around;
  justify-content: center;
  width: 100%;
  flex-grow: 4;
}

.image-bottom > img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.bottom-footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.left-footer > p {
  font-size: 11px;
  color: #737373;
}

.right-footer {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-top: 30px;
}

.right-footer-container {
  text-align: justify;
  padding-top: 5px;
  margin: 0 5px 0 5px;
  padding-right: 0.3125em;
  font-size: 11px;
  height: 15px;
}

.right-footer-container:not(:last-child) {
  border-right: 1px solid #ccc;
}
